<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>areca palm</string>
	<string>chineese evergreen</string>
	<string>croton</string>
	<string>dracaena janet craig</string>
	<string>dracaena marginita</string>
	<string>dracena warkeckii</string>
	<string>dumb cane</string>
	<string>English-Ivy</string>
	<string>golden pothos</string>
	<string>heartleaf philodendron</string>
	<string>lady palm</string>
	<string>peace lily</string>
	<string>peacock plant</string>
	<string>prayer plant</string>
	<string>snake plant</string>
	<string>spider plant</string>
	<string>2x2 mod</string>
	<string>2x4 mod</string>
	<string>Vertigrow</string>
</array>
</plist>
